{% extends "admin_main.html" %}

{% block admin_body %}
    <div class="row g-3">
        <div class="col-12">
            <div class="d-flex justify-content-between">
                <h2 class="mb-0">
                    Category - {{ category.name }}
                </h2>
                <form onsubmit="createCategoryItem({{ category.id }});">
                    <div class="input-group">
                        <select required
                                id="category-item-sku-id"
                                class="form-select">
                            <option disabled
                                    selected>
                                SKU
                            </option>
                            {% for x in available_skus %}
                                <option value="{{ x.id }}">
                                    {{ x.name }}
                                </option>
                            {% endfor %}
                        </select>
                        <input id="category-item-order"
                               class="form-control"
                               placeholder="Order"
                               type="number">
                        <button id="create-category-item"
                                class="btn btn-success btn-load"
                                type="submit">
                            Add
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-12">
            <div class="table-responsive">
                <table class="table rounded-2 overflow-hidden align-middle mb-0">
                    <thead class="table-secondary">
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                Order
                            </th>
                            <th class="text-end">
                                Actions
                            </th>
                        </tr>
                    </thead>
                    <tbody class="table-light">
                        {% for x in category_items %}
                            <tr>
                                <td>
                                    {{ x.sku.name }}
                                </td>
                                <td>
                                    <input id="category-item-order-{{ x.id }}"
                                           class="form-control form-control-sm"
                                           type="number"
                                           value="{{ x.order if x.order }}">
                                </td>
                                <td class="text-end">
                                    <div class="btn-group">
                                        <button id="update-category-item-{{ x.id }}"
                                                class="btn btn-load btn-sm btn-outline-primary"
                                                onclick="updateCategoryItem({{ category.id }}, {{ x.id }});">
                                            Update
                                        </button>
                                        <button id="delete-category-item-{{ x.id }}"
                                                class="btn btn-load btn-sm btn-outline-danger"
                                                onclick="deleteCategoryItem({{ category.id }}, {{ x.id }});">
                                            Delete
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
