{% extends "admin_main.html" %}
{% block admin_body %}
    <div class="row g-3">
        <div class="col-12">
            <div class="d-flex justify-content-between gap-2">
                <h2 class="mb-0">
                    Error
                </h2>
            </div>
        </div>
        <div class="col-12">
            <div class="row g-3">
                <div class="col-12">
                    The requested page could not be found.
                    If you believe this is an error, please contact your administrator.
                </div>
            </div>
        </div>
    </div>
{% endblock %}
