{% extends "admin_body.html" %}

{% block admin_content %}
    <div class="row g-3">
        <div class="col-12">
            <div class="d-flex justify-content-between">
                <h2 class="mb-0">
                    Order #{{ order.id }}
                </h2>
                <div class="d-grid d-sm-block gap-2">
                    {% if order.invoice %}
                        <a class="btn btn-outline-primary"
                           href="{{ url_for('admin.download_invoice', order_id=order.id, invoice_id=order.invoice.id) }}">
                            Download invoice
                        </a>
                    {% endif %}
                    {% if order.invoice %}
                        <a class="btn btn-outline-primary"
                           href="{{ url_for('admin.download_csv', order_id=order.id) }}">
                            Download CSV
                        </a>
                    {% endif %}
                    {% if not order.is_pending %}
                        <button class="btn btn-warning"
                                data-bs-toggle="modal"
                                data-bs-target="#modal-create-shipment">
                            Create shipment
                        </button>
                    {% endif %}
                    {% if order.is_pending %}
                        <button class="btn btn-danger"
                                data-bs-toggle="modal"
                                data-bs-target="#modal-cancel-order">
                            Cancel order
                        </button>
                    {% endif %}
                    {% if order.is_refundable %}
                        <button class="btn btn-danger"
                                data-bs-toggle="modal"
                                data-bs-target="#modal-refund-order">
                            Create refund
                        </button>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div class="bg-light rounded-2 p-4 text-break h-100">
                <h4>
                    Details
                </h4>
                <div class="row g-3">
                    <div class="col">
                        <span class="d-block">Order ID</span>
                        <span class="d-block">Created at</span>
                        <span class="d-block mb-2">Status</span>
                        <span class="d-block">Shipment</span>
                        <span class="d-block mb-2">Shipment price</span>
                        <span class="d-block">Coupon</span>
                        <span class="d-block mb-2">Discount</span>
                        <span class="d-block">VAT rate</span>
                        <span class="d-block">Total price</span>
                    </div>
                    <div class="col">
                        <span class="d-block">{{ order.id }}</span>
                        <span class="d-block">{{ order.created_at|datetime("%x") }}</span>
                        <span class="d-block mb-2">{{ order.status.name }}</span>
                        <span class="d-block">{{ order.shipment_name }}</span>
                        <span class="d-block mb-2">{{ order.shipment_price|price }} {{ order.currency.code }}</span>
                        <span class="d-block">{{ order.coupon_code }}</span>
                        <span class="d-block mb-2">{{ order.discount_price|price }} {{ order.currency.code }}</span>
                        <span class="d-block">{{ order.vat_percentage }} %</span>
                        <span class="d-block">{{ order.total_price|price }} {{ order.currency.code }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div class="bg-light rounded-2 p-4 text-break h-100">
                <h4>
                    Shipping
                </h4>
                <div class="row g-3">
                    <div class="col-12">
                        <span class="d-block">{{ order.shipping.first_name }} {{ order.shipping.last_name }}</span>
                        <span class="d-block">{{ order.shipping.address }}</span>
                        <span class="d-block">{{ order.shipping.zip_code }} {{ order.shipping.city }}</span>
                        <span class="d-block mb-2">{{ order.shipping.country.name }}</span>
                        <span class="d-block">{{ order.shipping.email }}</span>
                        {% if order.shipping.phone is not none %}
                            <span class="d-block">{{ order.shipping.phone }}</span>
                        {% endif %}
                        {% if order.shipping.company %}
                            <span class="d-block">{{ order.shipping.company }}</span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div class="bg-light rounded-2 p-4 text-break h-100">
                <h4>
                    Billing
                </h4>
                <div class="row g-3">
                    <div class="col-12">
                        <span class="d-block">{{ order.billing.first_name }} {{ order.billing.last_name }}</span>
                        <span class="d-block">{{ order.billing.address }}</span>
                        <span class="d-block">{{ order.billing.zip_code }} {{ order.billing.city }}</span>
                        <span class="d-block mb-2">{{ order.billing.country.name }}</span>
                        <span class="d-block">{{ order.billing.email }}</span>
                        {% if order.billing.phone %}
                            <span class="d-block">{{ order.billing.phone }}</span>
                        {% endif %}
                        {% if order.billing.company %}
                            <span class="d-block">{{ order.billing.company }}</span>
                        {% endif %}
                        {% if order.billing.vat %}
                            <span class="d-block">{{ order.billing.vat }}</span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="table-responsive">
                <h4 class="ms-2 mt-3">
                    Items
                </h4>
                <table class="table rounded-2 overflow-hidden align-middle mb-0">
                    <thead class="table-secondary">
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                Options
                            </th>
                            <th>
                                Quantity
                            </th>
                            <th>
                                Total price
                            </th>
                            <th class="text-end">
                                Actions
                            </th>
                        </tr>
                    </thead>
                    <tbody class="table-light">
                        {% for line in order_lines %}
                            <tr>
                                <td>
                                    {{ line.sku.product.name }}
                                </td>
                                <td class="small">
                                    {% for detail in line.sku.details %}
                                        {{ detail.option.name }}: {{ detail.value.name }}
                                        <br>
                                    {% endfor %}
                                </td>
                                <td>
                                    {{ line.quantity }}x
                                </td>
                                <td>
                                    {{ line.total_price|price }} {{ order.currency.code }}
                                </td>
                                <td class="text-end">
                                    {% if line.sku.product.file_url and order.invoice %}
                                        <a class="btn btn-sm btn-outline-primary"
                                           href="{{ line.sku.product.file_url }}"
                                           target="_blank"
                                           rel="noopener">
                                            Download
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% if order.shipments %}
            <div class="col-12">
                <div class="table-responsive">
                    <h4 class="ms-2 mt-3">
                        Shipments
                    </h4>
                    <table class="table rounded-2 overflow-hidden align-middle mb-0">
                        <thead class="table-secondary">
                            <tr>
                                <th>
                                    URL
                                </th>
                                <th class="text-end">
                                    Actions
                                </th>
                            </tr>
                        </thead>
                        <tbody class="table-light">
                            {% for shipment in order.shipments %}
                                <tr>
                                    <td>
                                        {{ shipment.url }}
                                    </td>
                                    <td class="text-end">
                                        <a class="btn btn-sm btn-outline-primary"
                                           href="{{ shipment.url }}"
                                           target="_blank"
                                           rel="noopener">
                                            Open
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}
        {% if refunds %}
            <div class="col-12">
                <div class="table-responsive">
                    <h4 class="ms-2 mt-3">
                        Refunds
                    </h4>
                    <table class="table rounded-2 overflow-hidden align-middle mb-0">
                        <thead class="table-secondary">
                            <tr>
                                <th>
                                    Number
                                </th>
                                <th>
                                    Total price
                                </th>
                                <th class="text-end">
                                    Actions
                                </th>
                            </tr>
                        </thead>
                        <tbody class="table-light">
                            {% for refund in refunds %}
                                <tr>
                                    <td>
                                        {{ refund.number }}
                                    </td>
                                    <td>
                                        {{ refund.total_price|price }} {{ order.currency.code }}
                                    </td>
                                    <td class="text-end">
                                        <a class="btn btn-sm btn-outline-primary"
                                           href="{{ url_for('admin.download_refund', order_id=order.id, refund_id=refund.id) }}">
                                            Download
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}
    </div>
    <!-- modal cancel order -->
    <div id="modal-cancel-order"
         class="modal fade"
         tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        Cancel order
                    </h5>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal">
                    </button>
                </div>
                <div class="modal-body">
                    <p class="mb-0">
                        <b>This action is irreversible.</b>
                        The order will be cancelled.
                        A refund will be created if necessary.
                    </p>
                </div>
                <div class="modal-footer">
                    <button id="cancel-order"
                            class="btn btn-load btn-danger"
                            onclick="cancelOrder({{ order.id }})">
                        Proceed
                    </button>
                    <button type="button"
                            class="btn btn-primary"
                            data-bs-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- modal refund order -->
    <div id="modal-refund-order"
         class="modal fade"
         tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        Create refund
                    </h5>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal">
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        <b>This action is irreversible.</b>
                        A refund will be created.
                        Please enter the amount you wish to refund below.
                        The default value is the maximum refundable amount.
                    </p>
                    <div class="input-group">
                        <span class="input-group-text">{{ order.currency.code }}</span>
                        <input required
                               id="refund-total-price"
                               class="form-control"
                               placeholder="Amount"
                               type="number"
                               step="0.01"
                               value="{{ order.remaining_refund_amount|price }}">
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="create-refund"
                            class="btn btn-load btn-danger"
                            onclick="refundOrder({{ order.id }})">
                        Proceed
                    </button>
                    <button type="button"
                            class="btn btn-primary"
                            data-bs-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- modal create shipment -->
    <div id="modal-create-shipment"
         class="modal fade"
         tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        Create shipment
                    </h5>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal">
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        <b>This action is irreversible.</b>
                        A shipment will be created and emailed to the customer.
                    </p>
                    <div class="input-group">
                        <span class="input-group-text">URL</span>
                        <input required
                               id="shipment-url"
                               class="form-control"
                               placeholder="URL"
                               type="text"
                               value="">
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="create-shipment"
                            class="btn btn-load btn-warning"
                            onclick="createShipment({{ order.id }})">
                        Proceed
                    </button>
                    <button type="button"
                            class="btn btn-primary"
                            data-bs-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
