{% extends "admin_body.html" %}

{% block admin_content %}
    <div class="row g-3">
        <div class="col-12">
            <div class="d-flex justify-content-between">
                <h2 class="mb-0">
                    Orders
                </h2>
                <form action="{{ url_for("admin.orders") }}"
                      method="GET">
                    <div class="input-group">
                        <input class="form-control"
                               name="s"
                               placeholder="Search"
                               type="text"
                               value="{{ search if search }}">
                        <select name="status"
                                class="form-select">
                            <option value>
                                All statuses
                            </option>
                            {% for x in cache.order_statuses %}
                                <option {{ 'selected' if x.id == status_id }} value="{{ x.id }}">
                                    {{ x.name }}
                                </option>
                            {% endfor %}
                        </select>
                        <button class="btn btn-primary"
                                type="submit">
                            Search
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-12">
            <div class="table-responsive">
                <table class="table rounded-2 overflow-hidden align-middle mb-0">
                    <thead class="table-secondary">
                        <tr>
                            <th>
                                Order ID
                            </th>
                            <th>
                                Created at
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Status
                            </th>
                            <th>
                                Total price
                            </th>
                            <th>
                                Refunded
                            </th>
                            <th class="text-end">
                                Actions
                            </th>
                        </tr>
                    </thead>
                    <tbody class="table-light">
                        {% for order in orders %}
                            <tr>
                                <td>
                                    {{ order.id }}
                                </td>
                                <td>
                                    {{ order.created_at|datetime("%x") }}
                                </td>
                                <td>
                                    {{ order.billing.first_name }} {{ order.billing.last_name }}
                                </td>
                                <td>
                                    {{ order.status.name }}
                                </td>
                                <td>
                                    {{ order.total_price|price }} {{ order.currency.code }}
                                </td>
                                <td>
                                    {{ order.refunds|length > 0 }}
                                </td>
                                <td class="text-end">
                                    <a class="btn btn-sm btn-outline-primary"
                                       href="{{ url_for('admin.order', order_id=order.id) }}">
                                        View
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% if pages|length > 1 %}
            <div class="col-12">
                <nav aria-label="Page numbers">
                    <ul class="pagination mb-0">
                        {% for page in pages %}
                            <li class="page-item {{ page["classes"] }}">
                                <a class="page-link"
                                   href="{{ url_for("admin.orders", p=page["number"], status=status_id) }}">
                                    {{ page["name"] }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>
        {% endif %}
    </div>
{% endblock %}
