{% extends "admin_main.html" %}

{% block admin_body %}
    <div class="row g-3">
        <div class="col-12">
            <div class="d-flex justify-content-between">
                <h2 class="mb-0">
                    Products
                </h2>
                <form onsubmit="createProduct();">
                    <div class="input-group">
                        <input required
                               id="product-name"
                               class="form-control"
                               placeholder="Name"
                               type="text">
                        <button id="create-product"
                                class="btn btn-success btn-load"
                                type="submit">
                            Create
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-12">
            <div class="table-responsive">
                <table class="table rounded-2 overflow-hidden align-middle mb-0">
                    <thead class="table-secondary">
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                Shipment Class
                            </th>
                            <th>
                                Unit price
                            </th>
                            <th class="text-end">
                                Actions
                            </th>
                        </tr>
                    </thead>
                    <tbody class="table-light">
                        {% for x in products %}
                            <tr>
                                <td>
                                    {{ x.name }}
                                </td>
                                <td>
                                    {{ x.shipment_class.name if x.shipment_class }}
                                </td>
                                <td>
                                    {{ x.unit_price|price }}
                                </td>
                                <td class="text-end">
                                    <a class="btn btn-sm btn-outline-primary"
                                       href="{{ url_for('admin.product', product_id=x.id) }}">
                                        View
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
