{% extends "admin_main.html" %}
{% block admin_body %}
    <script>
        async function updateSetting() {
            event.preventDefault();
            updateButton(`update-setting`, 1);
            await patchSetting({
                banner: document.getElementById('setting-banner').value,
                cached_at: null,
            });
            window.location.reload();
        }
    </script>

    <div class="row g-3">
        <div class="col-12">
            <div class="d-flex justify-content-between gap-2">
                <h2 class="mb-0">
                    Settings
                </h2>
                <button id="update-setting"
                        class="btn btn-primary btn-load"
                        onclick="updateSetting();">
                    Update
                </button>
            </div>
        </div>
        <div class="col-12">
            <div class="row g-3">
                <div class="col-12">
                    <div class="input-group">
                        <span class="input-group-text">Banner</span>
                        <input id="setting-banner"
                               class="form-control mt-0"
                               type="text"
                               value="{{ setting.banner if setting.banner }}">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock admin_body %}
