CDN_BASE_URL=https://web-framework.b-cdn.net/

FTP_HOSTNAME=storage.bunnycdn.com
FTP_PASSWORD=53807064-c228-409c-976ba57215f3-b7d3-4bae
FTP_USERNAME=web-framework

MAIL_ADMIN=contact@esherpa.io
MAIL_RECEIVER=contact@esherpa.io
MAIL_SENDER=contact@esherpa.io

SMTP_HOSTNAME=smtp.gmail.com
SMTP_PASSWORD=mwmajfruaunfpaim
SMTP_USERNAME=contact@esherpa.io