CDN_BASE_URL=https://web-framework.b-cdn.net/

FTP_HOSTNAME=storage.bunnycdn.com
FTP_PASSWORD=[REDACTED]
FTP_USERNAME=web-framework

MAIL_ADMIN=contact@esherpa.io
MAIL_RECEIVER=contact@esherpa.io
MAIL_SENDER=contact@esherpa.io

SMTP_HOSTNAME=smtp.gmail.com
SMTP_PASSWORD=[REDACTED]
SMTP_USERNAME=contact@esherpa.io