# building
setuptools~=82.0.0

# migrations
alembic~=1.18.4

# testing
pytest~=9.0.2
pytest-cov~=7.0.0

# formating and linting
djlint~=1.36.4
mypy==1.19.1
ruff~=0.15.1

# blueprints
git+https://github.com/esherpaio/web-blueprint-admin.git
git+https://github.com/esherpaio/web-blueprint-api.git
git+https://github.com/esherpaio/web-blueprint-auth.git
git+https://github.com/esherpaio/web-blueprint-index.git
