# building
setuptools~=80.9.0

# migrations
alembic~=1.17.0

# testing
pytest~=8.4.2
pytest-cov~=7.0.0

# formating and linting
djlint~=1.36.4
mypy==1.18.2
ruff~=0.14.2

# blueprints
git+https://github.com/esherpaio/web-blueprint-admin.git
git+https://github.com/esherpaio/web-blueprint-api.git
git+https://github.com/esherpaio/web-blueprint-auth.git
git+https://github.com/esherpaio/web-blueprint-index.git
