git+https://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@github.com/enlarge-online/python-pdf.git@v1.0.3
alembic~=1.12.0
black~=23.9.1
djlint~=1.34.0
mypy~=1.5.1
pytest~=7.4.2
ruff~=0.0.292
setuptools~=68.2.2