beautifulsoup4==4.12.2
bleach==6.0.0
flask-login==0.6.2
flask==2.3.1
git+https://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@github.com/enlarge-online/python-pdf.git@v1.0.0
jinja2==3.1.2
libsass==0.22.0
lxml==4.9.2
markupsafe==2.1.2
mollie-api-python==3.2.0
psycopg2-binary==2.9.6
python-dotenv==1.0.0
pyvat==1.3.17
requests==2.29.0
sendgrid==6.10.0
sqlalchemy==2.0.11
werkzeug==2.3.2