<div id="modal-consent"
     class="modal fade"
     tabindex="-1"
     aria-label="Consent dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fw-semibold">Cookies</h5>
            </div>
            <div class="modal-body">
                <p class="mb-0 small">
                    We gebruiken cookies om inhoud te personaliseren, verkeer te analyseren, advertenties te verbeteren en sociale media te verbeteren.
                    We delen ook informatie over uw gebruik van onze site met onze partners voor sociale media, reclame en analyse.
                    Ze kunnen deze combineren met andere informatie die u aan hen hebt verstrekt of die zij hebben verzameld door uw gebruik van hun services.
                </p>
            </div>
            <div class="modal-footer">
                <button id="accept-consent"
                        class="btn btn-primary border"
                        onclick="setConsent('true');">Accepteren</button>
                <button id="deny-consent"
                        class="btn btn-light border"
                        onclick="setConsent('false');">Weigeren</button>
            </div>
        </div>
    </div>
</div>
