{% extends 'auth.html' %}

{% block auth %}
    <a href="{{ url_for(config.ENDPOINT_HOME) }}">
        <img alt=""
             class="mb-4 img-contain"
             src="{{ cdn_url("logo_long.png") }}?height=240"
             height="120">
    </a>
    <h1 class="h3 mb-4 fw-semibold">
        Password
    </h1>
    <div id="auth-password-reset"
         class="w-320-px">
        <form data-verification-key="{{ verification_key }}"
              id="form-reset-password"
              onsubmit="resetPassword();">
            <div class="form-floating mb-2">
                <input required
                       id="reset-password"
                       class="form-control"
                       placeholder="Password"
                       type="password"
                       autocomplete="new-password">
                <label for="auth-password">
                    Password
                </label>
            </div>
            <div class="form-floating mb-2">
                <input required
                       id="reset-password-eval"
                       class="form-control"
                       placeholder="Password check"
                       type="password"
                       autocomplete="new-password">
                <label for="auth-password-eval">
                    Password check
                </label>
            </div>
            <button id="button-reset-password"
                    class="btn btn-info btn-load w-100"
                    type="submit">
                Recover
            </button>
        </form>
    </div>
    <a class="mt-4 small"
       href="{{ url_for(config.ENDPOINT_LOGIN) }}">Back to login</a>
{% endblock %}
