{% extends 'auth.html' %}

{% block auth %}
    <a href="{{ url_for(config.ENDPOINT_HOME) }}">
        <img alt=""
             class="mb-4 img-contain"
             src="{{ config.WEBSITE_LOGO_URL }}?height=240&width=240"
             style="max-height: 240px;
                    max-width: 240px">
    </a>
    <h1 class="h3 mb-4 fw-semibold">
        Password
    </h1>
    <div style="width: 320px">
        <form id="form-request-password"
              class="w-100"
              onsubmit="requestPassword();">
            <div class="form-floating mb-2">
                <input autofocus
                       required
                       id="request-email"
                       class="form-control"
                       placeholder="Email"
                       type="text"
                       autocomplete="email">
                <label for="auth-email">
                    Email
                </label>
            </div>
            <button id="button-request-password"
                    class="btn btn-info btn-load w-100"
                    type="submit">
                Request
            </button>
        </form>
    </div>
    <a class="mt-4 small"
       href="{{ url_for(config.ENDPOINT_LOGIN) }}">Back to login</a>
{% endblock %}
