{% macro gen_order_details(order, refunds, include_vat) %}
    <div class="bg-light rounded-2 p-4 text-break h-100">
        <h4>
            Details
        </h4>
        <div class="row g-3 row-cols-2">
            <div class="col">
                <span class="d-block">Order ID</span>
                <span class="d-block">Created at</span>
                <span class="d-block mb-2">Status</span>
                <span class="d-block">Shipment</span>
                <span class="d-block mb-2">Shipment price</span>
                <span class="d-block">Coupon</span>
                <span class="d-block mb-2">Discount</span>
                <span class="d-block">VAT rate</span>
                <span class="d-block">Total price</span>
            </div>
            <div class="col">
                <span class="d-block">{{ order.id }}</span>
                <span class="d-block">{{ order.created_at|datetime("%x") }}</span>
                <span class="d-block mb-2">{{ order.status.name }}</span>
                <span class="d-block">{{ order.shipment_name }}</span>
                <span class="d-block mb-2">{{ order.shipment_price|price }} {{ order.currency.code }}</span>
                <span class="d-block">{{ order.coupon_code }}</span>
                <span class="d-block mb-2">
                    {% if include_vat %}
                        {{ (order.discount_price * order.vat_rate)|price }} {{ order.currency.code }}
                    {% else %}
                        {{ order.discount_price|price }} {{ order.currency.code }}
                    {% endif %}
                </span>
                <span class="d-block">{{ order.vat_percentage }} %</span>
                <span class="d-block">
                    {% if include_vat %}
                        {{ (order.total_price * order.vat_rate)|price }} {{ order.currency.code }}
                    {% else %}
                        {{ order.total_price|price }} {{ order.currency.code }}
                    {% endif %}
                </span>
            </div>
        </div>
    </div>
{% endmacro %}
