{% macro gen_order_refunds(order, refunds, include_vat) %}
    <div class="table-responsive bg-light rounded-2 px-3 py-2">
        <h4 class="ms-2 mt-3">
            Refunds
        </h4>
        <table class="table table-light table-no-wrap mb-0">
            <thead>
                <tr>
                    <th>
                        Number
                    </th>
                    <th>
                        Total price
                    </th>
                    <th class="text-end">
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                {% for refund in refunds %}
                    <tr>
                        <td>
                            {{ refund.number }}
                        </td>
                        <td>
                            {% if include_vat %}
                                {{ (refund.total_price * order.vat_rate)|price }} {{ order.currency.code }}
                            {% else %}
                                {{ refund.total_price|price }} {{ order.currency.code }}
                            {% endif %}
                        </td>
                        <td class="text-end">
                            <a class="btn btn-sm btn-info"
                               href="{{ url_for('admin.download_refund', order_id=order.id, refund_id=refund.id) }}">
                                Download
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endmacro %}
