<div class="col-12">
    <h3>
        v2.10.0 (2024-10-08)
    </h3>
    <ul>
        <li>
            Support Google tags for conversion tracking
        </li>
        <li>
            Updated schema.org JSON-LD for web crawlers
        </li>
        <li>
            Minor bug fixes and stability improvements
        </li>
    </ul>
</div>
<div class="col-12">
    <h3>
        v2.9.0 (2024-09-03)
    </h3>
    <ul>
        <li>
            Security improvements
        </li>
        <ul>
            <li>
                Implementation of JSON Web Tokens
            </li>
            <li>
                Protection against Cross-Site Request Forgery
            </li>
        </ul>
        <li>
            PDF generation
        </li>
        <ul>
            <li>
                Faster PDF generation
            </li>
            <li>
                New font to support more languages
            </li>
        </ul>
        <li>
            Minor bug fixes and stability improvements
        </li>
    </ul>
</div>
