{% extends "admin_main.html" %}
{% block admin_body %}
    <script>
        let _categoryId = undefined;
        async function addCategory() {
            event.preventDefault();
            updateButton('add-category', 1);
            await postCategories({
                name: document.getElementById('category-name').value,
                order: parseInt(document.getElementById('category-order').value)
            });
            await patchSetting({ cached_at: null });
            window.location.reload();
        }
        async function updateCategory(categoryId) {
            event.preventDefault();
            updateButton(`update-category-${categoryId}`, 1);
            await patchCategoriesId(categoryId, {
                order: parseInt(document.getElementById(`category-order-${categoryId}`).value),
            });
            await patchSetting({ cached_at: null });
            window.location.reload();
        }
        async function deleteCategory(categoryId) {
            event.preventDefault();
            updateButton(`delete-category`, 1);
            await deleteCategoriesId(categoryId);
            await patchSetting({ cached_at: null });
            window.location.reload();
        }
    </script>

    <div class="row g-3">
        <div class="col-12">
            <div class="d-flex justify-content-between gap-2">
                <h2 class="mb-0">Categories</h2>
                <button class="btn btn-success"
                        type="submit"
                        data-bs-toggle="modal"
                        data-bs-target="#modal-add-category">
                    Add
                    <i class="bi bi-plus-square ms-1"></i>
                </button>
            </div>
        </div>
        <div class="col-12">
            <div class="table-responsive">
                <table class="table rounded-2 overflow-hidden align-middle mb-0">
                    <thead class="table-secondary">
                        <tr>
                            <th>Name</th>
                            <th>Order</th>
                            <th class="text-end">Actions</th>
                        </tr>
                    </thead>
                    <tbody class="table-light">
                        {% for x in categories %}
                            <tr>
                                <td>{{ x.name }}</td>
                                <td>
                                    <input id="category-order-{{ x.id }}"
                                           class="form-control form-control-sm"
                                           type="number"
                                           value="{{ x.order }}">
                                </td>
                                <td class="text-end">
                                    <div class="btn-group">
                                        <a class="btn btn-sm btn-outline-primary"
                                           href="{{ url_for('admin.categories_id', category_id=x.id) }}">
                                            View
                                        </a>
                                        <button id="update-category-{{ x.id }}"
                                                class="btn btn-load btn-sm btn-outline-primary"
                                                onclick="updateCategory({{ x.id }});">
                                            Update
                                        </button>
                                        <button class="btn btn-load btn-sm btn-outline-danger"
                                                onclick="_categoryId = {{ x.id }};"
                                                data-bs-toggle="modal"
                                                data-bs-target="#modal-delete-category">
                                            Delete
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div id="modal-add-category" class="modal modal-lg fade" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <form class="modal-content" onsubmit="addCategory();">
                <div class="modal-header">
                    <h5 class="modal-title">Add category</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div class="row g-2">
                        <div class="col-12 col-lg-6">
                            <div class="input-group">
                                <span class="input-group-text">Name</span>
                                <input required
                                       id="category-name"
                                       class="form-control"
                                       placeholder="Name"
                                       type="text">
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="input-group">
                                <span class="input-group-text">Order</span>
                                <input id="category-order"
                                       class="form-control"
                                       placeholder="Order"
                                       type="number">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="add-category" class="btn btn-load btn-success" type="submit">Add</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>

    <div id="modal-delete-category" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete category</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <p class="mb-0">Are you sure?</p>
                </div>
                <div class="modal-footer">
                    <button id="delete-category"
                            class="btn btn-load btn-danger"
                            onclick="deleteCategory(_categoryId);">Delete</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
{% endblock admin_body %}
