{% extends "admin_main.html" %}
{% block admin_body %}
    <script>
        async function testEmail() {
            event.preventDefault();
            updateButton('test-email', 1);
            await postEmails({
                event_id: "website.bulk",
                data: {
                    emails: [document.getElementById('email-email').value],
                    subject: document.getElementById('email-subject').value,
                    html: htmlEditor.root.innerHTML,
                },
            });
            updateButton('test-email', -1);
            showMessage("The test email has been sent.");
        }
        async function sendEmail() {
            event.preventDefault();
            updateButton('send-email', 1);
            await postEmails({
                event_id: "website.bulk",
                data: {
                    subject: document.getElementById('email-subject').value,
                    html: htmlEditor.root.innerHTML,
                },
            });
            updateButton('send-email', -1);
            showMessage("The bulk email has been sent.");
        }
    </script>

    <div class="row g-3">
        <div class="col-12">
            <div class="d-flex justify-content-between gap-2">
                <h2 class="mb-0 d-flex align-items-center">
                    <span class="badge rounded-pill text-bg-dark me-2">BETA</span>
                    Emails
                </h2>
                <div class="btn-toolbar justify-content-end gap-2">
                    <button class="btn btn-primary"
                            data-bs-toggle="modal"
                            data-bs-target="#modal-test-email">Test</button>
                    <button class="btn btn-warning"
                            data-bs-toggle="modal"
                            data-bs-target="#modal-send-email">Send</button>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row g-3">
                <div class="col-12">
                    <div class="input-group">
                        <span class="input-group-text">Subject</span>
                        <input id="email-subject" class="form-control mt-0" type="text" value="">
                    </div>
                </div>
                <div class="col-12">
                    <div class="d-block">
                        <div id="html-editor"></div>
                    </div>
                    <script defer>
                        let htmlElement = document.getElementById('html-editor');
                        let htmlOptions = [
                            [{'header': [1, 2, 3, 4, 5, 6, false]}],
                            ['bold', 'italic', 'underline', 'strike'],
                            ['link'],
                            [{'list': 'ordered'}, {'list': 'bullet'}],
                            [{'script': 'sub'}, {'script': 'super'}],
                            ['clean'],
                        ];
                        htmlEditor = new Quill(htmlElement, {theme: 'snow', modules: {toolbar: htmlOptions}});
                    </script>
                </div>
            </div>
        </div>
    </div>

    <div id="modal-send-email" class="modal fade">
        <div class="modal-dialog modal-dialog-centered">
            <form class="modal-content" onsubmit="sendEmail();">
                <div class="modal-header">
                    <h5 class="modal-title">Send email</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <p class="mb-0">
                        <b>This action is irreversible.</b>
                        An email will be sent to all users who have signed up.
                    </p>
                </div>
                <div class="modal-footer">
                    <button id="send-email" class="btn btn-load btn-warning" type="submit">Proceed</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>

    <div id="modal-test-email" class="modal fade">
        <div class="modal-dialog modal-dialog-centered">
            <form class="modal-content" onsubmit="testEmail();">
                <div class="modal-header">
                    <h5 class="modal-title">Test email</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <p>Test your email before sending it to all users.</p>
                    <div class="input-group">
                        <span class="input-group-text">Email</span>
                        <input required
                               id="email-email"
                               class="form-control"
                               placeholder="Email"
                               type="text"
                               value="">
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="test-email" class="btn btn-load btn-warning" type="submit">Proceed</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
{% endblock admin_body %}
