{% extends "admin_main.html" %}
{% block admin_body %}
    <script>
    // cart item actions
    async function loadCartItems(cart, currency) {
        const table = document.getElementById("cart-items");
        const tableBody = table.tBodies[0];
        while (tableBody.firstChild) tableBody.removeChild(tableBody.firstChild);

        cart_items = (await getCartsIdItems(cart.id)).data;
        for (const cart_item of cart_items) {
            const tr = document.createElement('tr');
            tableBody.appendChild(tr);

            const idTd = document.createElement('td');
            idTd.textContent = cart_item.id;
            tr.appendChild(idTd);

            const skuNameTd = document.createElement('td');
            skuNameTd.textContent = cart_item.sku_name;
            tr.appendChild(skuNameTd);

            const quantityTd = document.createElement('td');
            tr.appendChild(quantityTd);
            const quantityTdInput = document.createElement('input');
            quantityTdInput.id = `cart-item-quantity-${cart_item.id}`;
            quantityTdInput.classList.add("form-control", "form-control-sm");
            quantityTdInput.type = "number";
            quantityTdInput.value = cart_item.quantity;
            quantityTd.append(quantityTdInput);

            const unitPriceTd = document.createElement('td');
            unitPriceTd.textContent = `${cart_item.unit_price} ${currency.code}`;
            tr.appendChild(unitPriceTd);

            const selectionTd = document.createElement('td');
            selectionTd.classList.add('text-end');
            tr.appendChild(selectionTd);
            const selectionTdDiv = document.createElement('div');
            selectionTdDiv.classList.add("btn-group");
            selectionTd.append(selectionTdDiv);
            const selectionTdDivA = document.createElement('a');
            selectionTdDivA.id = `update-cart-item-${cart_item.id}`;
            selectionTdDivA.classList.add("btn", "btn-load", "btn-sm", "btn-outline-primary");
            selectionTdDivA.addEventListener("click", () => updateCartItem(cart.id, cart_item.id));
            selectionTdDivA.textContent = "Update";
            selectionTdDiv.append(selectionTdDivA);
            const selectionButtonDelete = document.createElement('a');
            selectionButtonDelete.id = `delete-cart-item-${cart_item.id}`;
            selectionButtonDelete.classList.add("btn", "btn-load", "btn-sm", "btn-outline-danger");
            selectionButtonDelete.addEventListener("click", () => deleteCartItem(cart.id, cart_item.id));
            selectionButtonDelete.textContent = "Delete";
            selectionTdDiv.append(selectionButtonDelete);
        }

        initButtons();
    }
    async function addCartItem(event) {
        const cartId = event.target.dataset.cartId;
        const skuEl = document.querySelector('input[name="sku-id"]:checked');
        const skuId = skuEl.value;
        updateButton(`add-cart-item`, 1);
        const data = {
            sku_id: parseInt(skuId),
            quantity: 1,
        };
        await postCartsIdItems(cartId, data);
        window.location.reload();
    }
    async function updateCartItem(cartId, cartItemId) {
        updateButton(`update-cart-item-${cartItemId}`, 1);
        const data = {
            quantity: parseInt(document.getElementById(`cart-item-quantity-${cartItemId}`).value),
        };
        await patchCartIdItemsId(cartId, cartItemId, data);
        window.location.reload();
    }
    async function deleteCartItem(cartId, cartItemId) {
        updateButton(`delete-cart-item-${cartItemId}`, 1);
        await deleteCartIdItemsId(cartId, cartItemId);
        window.location.reload();
    }

    // shipping actions
    async function loadShipping(shipping, countries) {
        const countrySelect = document.getElementById('shipping-country-id');
        for (const country of countries) {
            const countryOption = document.createElement('option');
            countryOption.value = country.id;
            countryOption.textContent = country.name;
            countrySelect.appendChild(countryOption);
        };

        const idNames = ["address", "city", "country-id", "email", "first-name", "last-name", "phone", "state", "zip-code"];
        for (const idName of idNames) {
            const key = idName.replace(/-/g, "_");
            const value = shipping[key];
            if (value !== undefined) {
                document.getElementById(`shipping-${idName}`).value = value;
            } else {
                document.getElementById(`shipping-${idName}`).value = "";
            }
        }
    }
    async function updateShipping(cart, silent = false) {
        const shippingData = emptyStrToNull({
            address: document.getElementById('shipping-address').value,
            city: document.getElementById('shipping-city').value,
            country_id: parseInt(document.getElementById('shipping-country-id').value),
            email: document.getElementById('shipping-email').value,
            first_name: document.getElementById('shipping-first-name').value,
            last_name: document.getElementById('shipping-last-name').value,
            phone: document.getElementById('shipping-phone').value,
            state: document.getElementById('shipping-state').value,
            zip_code: document.getElementById('shipping-zip-code').value,
        });
        let shipping;
        if (cart.shipping_id) {
            shipping = (await patchShippingsId(cart.shipping_id, shippingData, silent)).data;
        }
        if (!shipping) {
            shipping = (await postShippings(cartData, silent)).data;
        }
        const cartData = { shipping_id: shipping.id };
        await patchCartsId(cart.id, cartData, silent);
        return shipping;
    }

    // billing actions
    async function loadBilling(billing, countries) {
        const countrySelect = document.getElementById('billing-country-id');
        for (const country of countries) {
            const countryOption = document.createElement('option');
            countryOption.value = country.id;
            countryOption.textContent = country.name;
            countrySelect.appendChild(countryOption);
        };

        const idNames = ["address", "city", "country-id", "email", "first-name", "last-name", "phone", "state", "zip-code", "company", "vat"];
        for (const idName of idNames) {
            const key = idName.replace(/-/g, "_");
            const value = billing[key];
            if (value !== undefined) {
                document.getElementById(`billing-${idName}`).value = value;
            } else {
                document.getElementById(`billing-${idName}`).value = "";
            }
        }

        const copyBillingEls = document.getElementsByClassName("copy-billing");
        Array.from(copyBillingEls).forEach(element => {
            element.addEventListener("change", () => debounce(copyShippingToBilling, 100));
        });
    }
    async function updateBilling(cart, silent = false) {
        const billingData = emptyStrToNull({
            address: document.getElementById('billing-address').value,
            city: document.getElementById('billing-city').value,
            company: document.getElementById('billing-company').value,
            country_id: parseInt(document.getElementById('billing-country-id').value),
            email: document.getElementById('billing-email').value,
            first_name: document.getElementById('billing-first-name').value,
            last_name: document.getElementById('billing-last-name').value,
            phone: document.getElementById('billing-phone').value,
            state: document.getElementById('billing-state').value,
            vat: document.getElementById('billing-vat').value,
            zip_code: document.getElementById('billing-zip-code').value,
        });
        let billing;
        if (cart.billing_id) {
            billing = (await patchBillingsId(cart.billing_id, billingData, silent)).data;
        }
        if (!billing) {
            billing = (await postBillings(cartData, silent)).data;
        }
        const cartData = { billing_id: billing.id };
        await patchCartsId(cart.id, cartData, silent);
        return billing;
    }
    async function copyShippingToBilling() {
        const checkbox = document.getElementById("checkbox-use-shipping-for-billing");
        if (!checkbox.checked) {
            return;
        }

        const idNames = ["address", "city", "country-id", "email", "first-name", "last-name", "phone", "state", "zip-code"];
        for (const idName of idNames) {
            const shippingValue = document.getElementById(`shipping-${idName}`).value;
            document.getElementById(`billing-${idName}`).value = shippingValue;
        }
    }

    // shipment method actions
    async function loadShipmentMethods(cart, currency) {
        const table = document.getElementById("shipment-methods");
        const tableBody = table.tBodies[0];
        while (tableBody.firstChild) tableBody.removeChild(tableBody.firstChild);

        shipment_methods = (await getShipmentMethods({ "cart_id": cart.id })).data;
        for (const shipment_method of shipment_methods) {
            const tr = document.createElement('tr');
            tableBody.appendChild(tr);

            const nameTd = document.createElement('td');
            nameTd.textContent = shipment_method.name;
            tr.appendChild(nameTd);

            const priceTd = document.createElement('td');
            priceTd.textContent = `${shipment_method.unit_price} ${currency.code}`;
            tr.appendChild(priceTd);
            
            const selectionTd = document.createElement('td');
            selectionTd.classList.add('text-end');
            tr.appendChild(selectionTd);
            const selectionTdDiv = document.createElement('div');
            selectionTdDiv.classList.add('form-check', 'd-flex', 'justify-content-end');
            selectionTd.appendChild(selectionTdDiv);
            const selectionInput = document.createElement('input');
            selectionInput.id = `shipment-method-${shipment_method.id}`;
            selectionInput.classList.add('form-check-input');
            selectionInput.type = 'radio';
            selectionInput.name = 'shipment-method-id';
            selectionInput.value = `${shipment_method.id}`;
            selectionInput.addEventListener("click", () => updateShipmentMethod(cart));
            if (shipment_method.id === cart.shipment_method_id) {
                selectionInput.checked = true;
            }
            selectionTdDiv.appendChild(selectionInput);
        }

        updateShipmentMethodEls = document.getElementsByClassName("update-pricing");
        Array.from(updateShipmentMethodEls).forEach(element => {
            element.addEventListener("change", () => debounce(reinitializePage, 100));
        });
    }
    async function updateShipmentMethod(cart) {
        const shipmentMethodEl = document.querySelector('input[name="shipment-method-id"]:checked');
        let shipmentMethodId;
        if (shipmentMethodEl) {
            shipmentMethodId = parseInt(shipmentMethodEl.value);
        } else {
            shipmentMethodId = null;
        }
        const cartData = { shipment_method_id: shipmentMethodId };
        await patchCartsId(cart.id, cartData);

        const shipmentMethod = (await getShipmentMethodsId(shipmentMethodId)).data;
        const billingPhoneEl = document.getElementById("billing-phone");
        billingPhoneEl.required = shipmentMethod.phone_required;
    }

    // order actions
    async function loadAddOrderButton(cart) {
        const addOrderButton = document.getElementById("add-order");
        addOrderButton.dataset.cartId = cart.id;
        addOrderButton.addEventListener("click", (e) => addOrder(e));
    }
    async function addOrder(event) {
        const cartId = event.target.dataset.cartId;
        const cart = (await getCartsId(cartId)).data;
        const orderData = { 'cart_id': cart.id, 'trigger_mail': false };
        const order = (await postOrders(orderData)).data;
        const mollieRedirect = `${location.protocol}//${location.host}`;
        const redirect = `${location.protocol}//${location.host}${URL_ADMIN_ORDERS}/${order.id}`;
        await postOrdersIdPayments(order.id, { "redirect": mollieRedirect });
        window.location.href = redirect;
    }

    // sku actions
    async function loadSkus(cart, skus) {
        const table = document.getElementById("skus");
        const tableBody = table.tBodies[0];
        while (tableBody.firstChild) tableBody.removeChild(tableBody.firstChild);

        for (const sku of skus) {
            const tr = document.createElement('tr');
            tableBody.appendChild(tr);

            const idTd = document.createElement('td');
            idTd.textContent = sku.id;
            tr.appendChild(idTd);

            const nameTd = document.createElement('td');
            nameTd.textContent = sku.name;
            tr.appendChild(nameTd);

            const selectionTd = document.createElement('td');
            selectionTd.classList.add('text-end');
            tr.appendChild(selectionTd);
            const formCheckDiv = document.createElement('div');
            formCheckDiv.classList.add('form-check', 'd-flex', 'justify-content-end');
            selectionTd.appendChild(formCheckDiv);
            const input = document.createElement('input');
            input.id = `sku-${sku.id}`;
            input.classList.add('form-check-input');
            input.type = 'radio';
            input.name = 'sku-id';
            input.value = `${sku.id}`;
            formCheckDiv.appendChild(input);
        }

        const AddCartItemButton = document.getElementById("add-cart-item");
        AddCartItemButton.dataset.cartId = cart.id;
        AddCartItemButton.addEventListener("click", (e) => addCartItem(e));
    }    

    // initialization
    async function initializePage() {
        const cart = (await getCarts()).data[0];
        const currency = (await getCurrenciesId(cart.currency_id)).data;
        const countries = (await getCountries()).data;
        const user = (await getUsersId(cart.user_id)).data;
        const skus = (await getSkus()).data;

        let shipping_id = null;
        if (cart.shipping_id) {
            shipping_id = cart.shipping_id;
        } else if (user.shipping_id) {
            shipping_id = user.shipping_id;
        }
        if (shipping_id !== null) {
            shipping = (await getShippingsId(shipping_id)).data;
            loadShipping(shipping, countries);
        }

        let billing_id = null;
        if (cart.billing_id) {
            billing_id = cart.billing_id;
        } else if (user.billing_id) {
            billing_id = user.billing_id;
        }
        if (billing_id !== null) {
            billing = (await getBillingsId(billing_id)).data;
            loadBilling(billing, countries);
        }

        loadCartItems(cart, currency);
        loadShipmentMethods(cart, currency);
        loadSkus(cart, skus);
        loadAddOrderButton(cart);
    }
    async function reinitializePage() {
        let cart = (await getCarts()).data[0];
        const shipping = await updateShipping(cart, true);
        const billing = await updateBilling(cart, true);
        cart = (await getCarts()).data[0];
        const currency = (await getCurrenciesId(cart.currency_id)).data;
        const countries = (await getCountries()).data;
        await loadShipping(shipping, countries);
        await loadBilling(billing, countries);
        await loadCartItems(cart, currency);
        await loadShipmentMethods(cart, currency);
    }
    document.addEventListener("DOMContentLoaded", initializePage);
    </script>

    <div class="row g-3">
        <!-- button add order -->
        <div class="col-12">
            <div class="d-flex justify-content-between gap-2">
                <h2 class="mb-0">Add order</h2>
                <div class="btn-toolbar justify-content-end gap-2">
                    <button class="btn btn-primary"
                            data-bs-toggle="modal"
                            data-bs-target="#modal-add-sku">Add SKU</button>
                    <button class="btn btn-warning"
                            data-bs-toggle="modal"
                            data-bs-target="#modal-add-order">Create order</button>
                </div>
            </div>
        </div>
        <!-- SKUs -->
        <div class="col-12">
            <h3>SKUs</h3>
            <div class="table-responsive">
                <table id="cart-items"
                       class="table rounded-2 overflow-hidden align-middle mb-0">
                    <thead class="table-secondary">
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Quantity</th>
                            <th>Unit Price</th>
                            <th class="text-end">Actions</th>
                        </tr>
                    </thead>
                    <tbody class="table-light">
                    </tbody>
                </table>
            </div>
        </div>
        <!-- shipping -->
        <div class="col-12">
            <h3>Shipping</h3>
            <div class="row g-2">
                <div class="col-12 col-sm-6">
                    <div class="form-floating">
                        <input required
                               id="shipping-email"
                               class="form-control copy-billing"
                               type="email"
                               placeholder="Email"
                               autocomplete="email">
                        <label for="shipping-email">Email</label>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="form-floating">
                        <input id="shipping-phone"
                               class="form-control copy-billing"
                               type="tel"
                               placeholder="Phone"
                               autocomplete="tel">
                        <label for="shipping-phone">Phone</label>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="form-floating">
                        <input required
                               id="shipping-first-name"
                               class="form-control copy-billing"
                               type="text"
                               placeholder="First name"
                               autocomplete="given-name">
                        <label for="shipping-first-name">First name</label>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="form-floating">
                        <input required
                               id="shipping-last-name"
                               class="form-control copy-billing"
                               type="text"
                               placeholder="First name"
                               autocomplete="family-name">
                        <label for="shipping-last-name">Last name</label>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="form-floating">
                        <input required
                               id="shipping-address"
                               class="form-control copy-billing"
                               type="text"
                               placeholder="Address"
                               autocomplete="street-address">
                        <label for="shipping-address">Address</label>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="form-floating">
                        <input required
                               id="shipping-city"
                               class="form-control copy-billing"
                               type="text"
                               placeholder="City"
                               autocomplete="address-level2">
                        <label for="shipping-city">City</label>
                    </div>
                </div>
                <div class="col-12 col-sm-4">
                    <div class="form-floating">
                        <input required
                               id="shipping-zip-code"
                               class="form-control copy-billing"
                               type="text"
                               placeholder="Postal code"
                               autocomplete="postal-code">
                        <label for="shipping-zip-code">Postal code</label>
                    </div>
                </div>
                <div class="col-12 col-sm-4">
                    <div class="form-floating">
                        <input id="shipping-state"
                               class="form-control copy-billing"
                               type="text"
                               placeholder="State"
                               autocomplete="address-level1">
                        <label for="shipping-zip-code">State</label>
                    </div>
                </div>
                <div class="col-12 col-sm-4">
                    <div class="form-floating">
                        <select required
                                id="shipping-country-id"
                                class="form-select update-pricing copy-billing"
                                autocomplete="country-name">
                            <option selected disabled value="">Make a selection</option>
                        </select>
                        <label for="shipping-country-id">Country</label>
                    </div>
                </div>
            </div>
        </div>
        <!-- billing -->
        <div class="col-12">
            <h3>Billing</h3>
            <div class="form-check mb-2">
                <input class="form-check-input"
                       type="checkbox"
                       id="checkbox-use-shipping-for-billing"
                       data-bs-toggle="collapse"
                       data-bs-target=".collapse-billing"
                       data-bs-animation="false"
                       aria-expanded="true"
                       onclick="copyShippingToBilling();">
                <label class="form-check-label" for="checkbox-use-shipping-for-billing">
                    Use shipping as billing information
                </label>
            </div>
            <div class="row g-2">
                <div class="col-12 col-sm-6 collapse-billing show">
                    <div class="form-floating">
                        <input required
                               id="billing-email"
                               class="form-control"
                               type="email"
                               placeholder="Email"
                               autocomplete="email">
                        <label for="billing-email">Email</label>
                    </div>
                </div>
                <div class="col-12 col-sm-6 collapse-billing show">
                    <div class="form-floating">
                        <input id="billing-phone"
                               class="form-control"
                               type="tel"
                               placeholder="Phone"
                               autocomplete="tel">
                        <label for="billing-phone">Phone</label>
                    </div>
                </div>
                <div class="col-12 col-sm-6 collapse-billing show">
                    <div class="form-floating">
                        <input required
                               id="billing-first-name"
                               class="form-control"
                               type="text"
                               placeholder="First name"
                               autocomplete="given-name">
                        <label for="billing-first-name">First name</label>
                    </div>
                </div>
                <div class="col-12 col-sm-6 collapse-billing show">
                    <div class="form-floating">
                        <input required
                               id="billing-last-name"
                               class="form-control"
                               type="text"
                               placeholder="First name"
                               autocomplete="family-name">
                        <label for="billing-last-name">Last name</label>
                    </div>
                </div>
                <div class="col-12 col-sm-6 collapse-billing show">
                    <div class="form-floating">
                        <input required
                               id="billing-address"
                               class="form-control"
                               type="text"
                               placeholder="Address"
                               autocomplete="street-address">
                        <label for="billing-address">Address</label>
                    </div>
                </div>
                <div class="col-12 col-sm-6 collapse-billing show">
                    <div class="form-floating">
                        <input required
                               id="billing-city"
                               class="form-control"
                               type="text"
                               placeholder="City"
                               autocomplete="address-level2">
                        <label for="billing-city">City</label>
                    </div>
                </div>
                <div class="col-12 col-sm-4 collapse-billing show">
                    <div class="form-floating">
                        <input required
                               id="billing-zip-code"
                               class="form-control"
                               type="text"
                               placeholder="Postal code"
                               autocomplete="postal-code">
                        <label for="billing-zip-code">Postal code</label>
                    </div>
                </div>
                <div class="col-12 col-sm-4 collapse-billing show">
                    <div class="form-floating">
                        <input id="billing-state"
                               class="form-control"
                               type="text"
                               placeholder="State"
                               autocomplete="address-level1">
                        <label for="billing-zip-code">State</label>
                    </div>
                </div>
                <div class="col-12 col-sm-4 collapse-billing show">
                    <div class="form-floating">
                        <select required
                                id="billing-country-id"
                                class="form-select update-pricing"
                                autocomplete="country-name">
                            <option selected disabled value="">Make a selection</option>
                        </select>
                        <label for="billing-country-id">Country</label>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="form-floating">
                        <input id="billing-company"
                               class="form-control update-pricing"
                               type="text"
                               placeholder="Company"
                               autocomplete="organization">
                        <label for="billing-company">Company</label>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="form-floating">
                        <input id="billing-vat" class="form-control" type="text" placeholder="VAT">
                        <label for="billing-vat">VAT</label>
                    </div>
                </div>
            </div>
        </div>
        <!-- shipment methods -->
        <div class="col-12">
            <h3>Shipment methods</h3>
            <div class="table-responsive">
                <table id="shipment-methods"
                       class="table rounded-2 overflow-hidden align-middle mb-0">
                    <thead class="table-secondary">
                        <tr>
                            <th>Name</th>
                            <th>Price</th>
                            <th class="text-end">Selection</th>
                        </tr>
                    </thead>
                    <tbody class="table-light">
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- model add sku -->
    <div id="modal-add-sku" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add SKU</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <table id="skus" class="table rounded-2 overflow-hidden align-middle mb-0">
                        <thead class="table-secondary">
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th class="text-end">Selection</th>
                            </tr>
                        </thead>
                        <tbody class="table-light">
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button id="add-cart-item" class="btn btn-load btn-primary">Add</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <!-- model add order -->
    <div id="modal-add-order" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Create order</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <p class="mb-0">
                        <b>This action is irreversible.</b>
                        The customer will not be notified automatically.
                        A payment link will be created, which you can retrieve from the order page.
                    </p>
                </div>
                <div class="modal-footer">
                    <button id="add-order" class="btn btn-load btn-warning">Proceed</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
{% endblock admin_body %}
