{% extends "admin_main.html" %}
{% block admin_body %}
    <script>
        async function addProduct() {
            event.preventDefault();
            updateButton(`add-product`, 1);
            await postProducts({
                name: document.getElementById('product-name').value
            });
            await patchSetting({ cached_at: null });
            window.location.reload();
        }
    </script>

    <div class="row g-3">
        <div class="col-12">
            <div class="d-flex justify-content-between gap-2">
                <h2 class="mb-0">Products</h2>
                <button class="btn btn-success"
                        type="submit"
                        data-bs-toggle="modal"
                        data-bs-target="#modal-add-product">
                    Add
                    <i class="bi bi-plus-square ms-1"></i>
                </button>
            </div>
        </div>
        <div class="col-12">
            <div class="table-responsive">
                <table class="table rounded-2 overflow-hidden align-middle mb-0">
                    <thead class="table-secondary">
                        <tr>
                            <th>Name</th>
                            <th>Shipment Class</th>
                            <th>Unit price</th>
                            <th class="text-end">Actions</th>
                        </tr>
                    </thead>
                    <tbody class="table-light">
                        {% for x in products %}
                            <tr>
                                <td>{{ x.name }}</td>
                                <td>{{ x.shipment_class.name if x.shipment_class }}</td>
                                <td>{{ x.unit_price|price }}</td>
                                <td class="text-end">
                                    <div class="btn-group">
                                        <a class="btn btn-sm btn-outline-primary"
                                           href="{{ url_for('admin.product', product_id=x.id) }}">
                                            View
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div id="modal-add-product" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <form class="modal-content" onsubmit="addProduct();">
                <div class="modal-header">
                    <h5 class="modal-title">Add product</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div class="row g-2">
                        <div class="col-12">
                            <div class="input-group">
                                <span class="input-group-text">Name</span>
                                <input required
                                       id="product-name"
                                       class="form-control"
                                       placeholder="Name"
                                       type="text">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="add-product" class="btn btn-load btn-success" type="submit">Add</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
{% endblock admin_body %}
