{% extends "admin_main.html" %}
{% block admin_body %}
    <script>
        async function updateSettings() {
            event.preventDefault();
            updateButton(`update-settings`, 1);
            await patchSettings({
                banner: document.getElementById('settings-banner').value,
                cached_at: null,
            });
            window.location.reload();
        }
    </script>

    <div class="row g-3">
        <div class="col-12">
            <div class="d-flex justify-content-between gap-2">
                <h2 class="mb-0">Settings</h2>
                <button id="update-settings"
                        class="btn btn-primary btn-load"
                        onclick="updateSettings();">Update</button>
            </div>
        </div>
        <div class="col-12">
            <div class="row g-3">
                <div class="col-12">
                    <div class="input-group">
                        <span class="input-group-text">Banner</span>
                        <input id="settings-banner"
                               class="form-control mt-0"
                               type="text"
                               value="{{ settings.banner if settings.banner }}">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock admin_body %}
