<h2 class="mb-3">Product - {{ product.name }}</h2>
<ul class="nav nav-tabs mb-3" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link py-2 {{ 'active' if request.endpoint in ['admin.product'] }}"
           type="button"
           href="{{ url_for('admin.products_id', product_id=product.id) }}">General</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link py-2 {{ 'active' if request.endpoint in ['admin.product_options', 'admin.product_option'] }}"
           type="button"
           href="{{ url_for('admin.products_id_options', product_id=product.id) }}">Options</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link py-2 {{ 'active' if request.endpoint in ['admin.product_media'] }}"
           type="button"
           href="{{ url_for('admin.products_id_media', product_id=product.id) }}">Media</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link py-2 {{ 'active' if request.endpoint in ['admin.product_links'] }}"
           type="button"
           href="{{ url_for('admin.products_id_links', product_id=product.id) }}">Links</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link py-2 {{ 'active' if request.endpoint in ['admin.product_skus'] }}"
           type="button"
           href="{{ url_for('admin.products_id_skus', product_id=product.id) }}">SKUs</a>
    </li>
</ul>
